<span class="demo-2">
  <div id="container" class="container intro-effect-fadeout">
      <!-- Top Navigation -->

      <header class="header">
        <div class="bg-img"><%= image_tag("imac.jpg", :alt => "rss feed") %></div>
        <div class="title">
          <nav class="codrops-demos">
            <a class="current-demo" href="http://www.ledbetterlife.com">Home</a>
        <%= link_to "Photos", pins_path %>  
        <%= link_to "Blog", posts_path %>  
        <%= link_to "Portfolio", portfolio_path %>
        <% if user_signed_in? %>
          <%= link_to "Write Something | ", new_post_path %>  
          <%= link_to "+ Photo | ", new_pin_path %>
          <%= link_to "Settings", edit_user_registration_path %>
        <% else %>
          <%= link_to "| Log In", new_user_session_path %>
        <% end %>
          </nav>
          <h1>Ledbetterlife.com</h1>
          <p class="subline">The Online Home of Joshua Ledbetter</p>
        </div>
      </header>
      <article class="content">
        <div class="paragraphs">
          <p>Hi there, thanks for checking out my site.  </p>
          <p>This website is build on Ruby on Rails, and utilizes a lot of its awesome features. I also was able to work with Sass and Coffee Script on this project, which Rails ships with by Defaut. The images for this site can be found at the awesome site that is <a href="http://unsplash.com/"target="_blank">unsplash.com,</a> and a lot of the inspiration for the site has come from the web designer <a href="http://tympanus.net/codrops/author/crnacura/"target="_blank">MARY LOU</a>.</p>
          <p>Anyways, my name is Joshua Ledbetter. I have been programming for about two years now, and I just cant get enough. I haven't quite decided if I want to be a front end developer or a back end developer. I have such a love for beautiful designs, but also for the simplicity and beauty of the Ruby language. </p>
          <p>I am self tought, with knowledge in HTML, CSS, Sass, jQuery, Javascrip, Ruby and Ruby on Rails. And I owe it all to Google.  </p>
          <p>Right now I am working for a ecommerce company called <a href="http://www.volusion.com" target="_blank"> Volusion</a></p>
          <p>I work in the tech support department as a software technician, and the only code I really get to work with is the broken templates that people like to call in about. This isn't bad, but I would like more of a challenge. </p>
          
          <p><strong>Thanks for checking out the site!</strong></p>
        </div>
      </article>
      <section class="related">
        <p>If you would like to see more of my work, follow the link below:</p>
        <div><h4><%= link_to "Portfolio", portfolio_path %></h4></div>
      </section>
    </div><!-- /container -->
    <script>
  
    </script>
    </span>