    <div id="container" class="container">
      <!-- Top Navigation -->
       
      <header class="header">
        <div class="bg-img"><%= image_tag("type.jpg", :alt => "background Image") %></div>
                <div class="title">
          <nav class="codrops-demos">
        <%= link_to "Photos", pins_path %>  
        <%= link_to "Blog", posts_path %>  
        <%= link_to "Portfolio", portfolio_path %>
        <% if user_signed_in? %>
          <%= link_to "Write Something | ", new_post_path %>  
          <%= link_to "+ Photo | ", new_pin_path %>
          <%= link_to "Settings", edit_user_registration_path %>
        <% else %>
          <%= link_to "| Log In", new_user_session_path %>
        <% end %>          </nav>
          <h1> Welcome to my blog</h1>
          <p class="subline">There's not much going on here. I'm not much of a writer</p>
  <hr class="thin">
        </div>
      </header>
      <article class="content">
        <div>

  <% @posts.each do |post| %>
    <h3 class="center"><%= post.title %></h3>
    <div class="container3 col">
      <p><%= post.body %></p>
        <div class="time">
          <%= link_to time_ago_in_words(post.created_at) + " ago", post %>
        </div>
          <div class="actions">
          <% if current_user && post.user == current_user %>
            <%= link_to edit_post_path(post) do %>
              Edit
          <% end %>
            <%= link_to post, method: :delete, data: { confirm: 'Are you sure?' } do %>
              Delete
              <% end %>
            <% end %>
          </br>
        </div>
        <hr class="thin">
        <% end %>
    </div>
      </article>
      <section class="related-right">
        <p>If you would like to see more of my work, <br> follow the link below:</p>
        <div><h4><%= link_to "Portfolio", portfolio_path %></h4></div>
      </section>
      </span>
    </div><!-- /container -->
    <script>
  
    </script>

        

