<!-- Jumbotron -->
<div class="jumbotron">

      <div class="profileimage"</div>
   

<!-- end jumbotron -->
 
</div>

 </div></br></br>

        <h2 class="lead2"> Joshua Ledbetter </h2>
        <p class="lead"> Space traveller. Calvin and Hobbes enthusiast. <br/>I specialize in over-analysis</p>
        <a href="www.twitter.com/ledbetterjoshau" alt="twitter">
        <div class="button">follow</div></a>


  <% @posts.each do |post| %>
  <hr class="thin">
          <h3><%= post.title %></h3>

        <div class="container3"
        <p><%= post.body %></p>
          <%= post.user.try(:name) %>

          
          <div class="actions">
          <% if current_user && post.user == current_user %>
            <%= link_to edit_post_path(post) do %>
              Edit
<% end %>
            <%= link_to post, method: :delete, data: { confirm: 'Are you sure?' } do %>
              Delete
              <% end %>
            <% end %>
          </br>

          </div>
        </div>
        <% end %>
      </div>

        </div>

        

