<nav class="navbar-brand navbar-static-top left" role="navigation">

      <%= link_to posts_path do %>
      <span style=color:#95a5a6; class="glyphicon glyphicon-user"></span>

      <% end %><br/>


      <%= link_to pins_path do %>
      <span style=color:#95a5a6; class="glyphicon glyphicon-picture"></span>

      <% end %><br/>

        <% if user_signed_in? %>


          <%= link_to new_post_path do %>  
            <span class="glyphicon glyphicon-comment"></span>  

            <% end %><br/>

            <%= link_to new_pin_path do %>
              <span class="glyphicon glyphicon-plus"></span>

            <% end %><br/>

            <%= link_to edit_user_registration_path do %>
              <span style=color:#95a5a6; class="glyphicon glyphicon-tasks"></span>

            <% end %><br/>
        <% else %>
          <%= link_to new_user_session_path do %>
          <span style=color:#95a5a6; class="glyphicon glyphicon-tasks"></span>

        <% end %>
        <% end %>
      </div>
    </div>
</nav>
