<!--<div id="nav">
<%= link_to joshua_path do %>
<p class="title">LedbetterLife<span class="subtitle">.com</span></p>
<ul id="navigation">
  <% end %>
<div class="padding-nav">
<span class="subtitle"><li><%= link_to "Photos", pins_path %></li></span>
<span class="subtitle"><li><%= link_to "Blog", posts_path %></li></span>


        <% if user_signed_in? %>
          <li><%= link_to "Write Something | ", new_post_path %>  </li>

           <li> <%= link_to "+ Photo | ", new_pin_path %></li>

            <li><%= link_to "Settings", edit_user_registration_path %></li>

        <% else %>
          <li><%= link_to "Portfolio", portfolio_path %></li>
          <li><%= link_to "| Log In", new_user_session_path %></li>


        <% end %>

</div>
</div>
-->